/*style.css*/
body{

    margin: 0px;
    
    padding: 0px;
    
    font-family: Georgia, "Times New Roman", Times, serif;
    
}
    
    h1, h2, h3{
    
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    
    }
    
    ul.products {
    
    padding: 0;
    
    margin: 0;
    
    max-width: 740px;
    
    margin-left: auto;
    
    margin-right: auto;
    
    }
    
    ul.products li {
    
    display: inline-block;
    
    max-width: 200px;
    
    padding: 10px;
    
    background-color: #FFFFFF;
    
    margin: 10px;
    
    border: 1px solid #EAEAEA;  
    
    color: #3D3D3D;
    
    }
    
    ul.products li h3 {
    
    margin: -10px -10px 10px -10px;
    
    padding: 10px;
    
    text-align: center;
    
    background-color: #F5F5F5;
    
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    
    font-size: 1.1em;
    
    color: #5A5A5A;
    
    }
    
    ul.products li fieldset {
    
    border: none;
    
    padding: 5px 5px 5px 0px;
    
    margin: 0;
    
    }
    
    ul.products li fieldset label{
    
    display:block;
    
    margin-bottom: 4px;
    
    }
    
    ul.products li fieldset label span{
    
    width: 80px;
    
    float: left;
    
    }
    
    ul.products li fieldset label select{
    
    min-width: 100px;
    
    }
    
    button, .button{
    
    background-color: #39b3d7;
    
    border: none;
    
    padding: 10px;
    
    display: inline-block;
    
    text-align: center;
    
    cursor: pointer;
    
    text-decoration: none;
    
    color: #FFF;
    
    min-height: 15px;
    
    font: 12px/15px Arial, Helvetica, sans-serif;
    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
    
    border-radius: 3px;
    
    }
    
    button:hover, .button:hover{
    
    background-color: #44C7ED;
    
    }
    
    